[Unit]
Description=TigerVNC Server
After=syslog.target network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill %i > /dev/null 2>&1 || :'
ExecStop=/usr/bin/vncserver -kill %i

[Install]
WantedBy=multi-user.target
